.header, .form {
	margin-top: 50px;
}

.form[action*='update'] {
	margin-top: 0;
}

.well {
	background: #eeefea;
}

.jumbotron {
	background: #eeefea;
}

html * {
	font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
}

.radio-check {
	margin-bottom: 20px;
	text-align: justify;
}

.input-group {
	margin-bottom: 20px;
}

.image33 {
	width: 33%;
	height: auto;
	padding: 18px;
	vertical-align: bottom;
}
.image66 {
	width: 66%;
	height: auto;
	padding: 18px;
	vertical-align: bottom;
}
.requstInfo {
	background: #d9edf7!important;
}
.imageBlock img {
	width: 33%
}

/*svg*/
.bar {
	fill: #eeefea;
	stroke-width: 1;
	stroke: grey;
}

.bar0 {
	fill: #5bc0de;
}

.bar1 {
	fill: #FFA500;
}
.legend0 {
	color: #5bc0de;
}

.legend1 {
	color: #FFA500;
}

svg text {
	font-family: 'Roboto', sans-serif;
}

svg .links path:hover {
	stroke-opacity: 0.6
}





/*bootstrap style*/

.panel-title a {
	display: inline-block;
	width: 80%;
}
.panel-title span {
	text-align: right;
	display: inline-block;
	width: 20%;
}

.panel-default>.panel-heading {
	background-color: #eeefea;
}




/*carousel style*/

.owl-carousel {
	margin-top: 20px;
}
.owl-carousel .owl-item {
	min-height: 250px;
	background: url(../img/dist/ajax-loader.gif) no-repeat center center;
}





/*shake effect*/
.shake {
	animation: shake 3s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
	10%, 90% {
		transform: translateX(-1px);
	}

	20%, 80% {
		transform: translateX(2px);
	}

	30%, 50%, 70% {
		transform: translateX(-4px);
	}

	40%, 60% {
		transform: translateX(4px);
	}
}



/*help classes*/

.toggle {
	display: none;
}



/*stick navbar on top*/

#scrollMoveUp {
	top: 20px;
	right: 20px;
	z-index: 100;
	position: fixed;
	opacity: 0.4;
}

#scrollMoveDown {
	top: 60px;
	right: 20px;
	z-index: 100;
	position: fixed;
	opacity: 0.4;
}